<h2>Blacklisted Students</h2>

<%= form_with model: Blacklist.new, url: blacklists_path, method: :post do |f| %>
    <label>Name:</label>
    <%= f.text_field :student_name, required: true %>
  
    <label>Email:</label>
    <%= f.email_field :student_email, required: true %>
  
    <%= f.submit "Add to Blacklist" %>
<% end %>
  
<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <% @blacklisted_students.each do |student| %>
    <tr>
      <td><%= student.student_name %></td>
      <td><%= student.student_email %></td>
      <td>
        <form action="<%= blacklist_path(student) %>" method="post" style="display:inline;">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit" onclick="return confirm('Are you sure?')">Remove</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Return to Home Page", root_path, class: "action-button", style: "display: block; margin-top: 20px; text-align: center;" %>
