<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TA Assignment Home Page</title>
  <%= stylesheet_link_tag 'tamu', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <div class="header">
    <%= image_tag "logo.png", alt: "CSCE Logo", class: "logo" %>
    <%= link_to "logout", logout_path, method: :delete, class: "logout-button" %>
  </div>
  <div class="main-content">
  <h1>My Recommendations</h1>
  <%= link_to "Submit Another Recommendation", new_recommendation_path, class: "action-button" %>

<div style="max-height: 800px; max-width:1500px;  overflow-y: auto;">
<table class="styled-table">
  <thead style="position: sticky; top: 0; background-color: white; z-index: 100;">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Course</th>
      <th>TA/Grader</th>
      <th>Feedback</th>
      <th>Additional Feedback</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @recommendations.each do |recommendation| %>
      <% if recommendation.admin == false %>
        <tr>
          <td><%= recommendation.email %></td>
          <td><%= recommendation.name %></td>
          <td><%= recommendation.course %></td>
          <td><%= recommendation.selectionsTA %></td>
          <td><%= recommendation.feedback %></td>
          <td><%= recommendation.additionalfeedback %></td>
          <td><%= link_to "Edit", edit_recommendation_path(recommendation),  class: "action-button" %></td>
          <td>
              <%= link_to 'Delete', recommendation_path(recommendation), method: :delete, remote: true,  class: "action-button",
              onclick: "return confirm('Are you sure you want to delete this Recommendation?');" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<% if session[:role].to_s == "admin" %>
  <%= link_to "Back to Home", root_path(anchor: "faculty"), class: "action-button" %>
<% else %>
  <%= link_to "Back to Home", root_path, class: "action-button" %>
<% end %>
</div>
  <div class="footer">
    &copy; 2025 Texas A&M University. All Rights Reserved.
  </div>
</body>
</html>


