<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TA Assignment Home Page</title>
  <%= stylesheet_link_tag 'tamu', media: 'all', 'data-turbo-track': 'reload' %>
  <style>
    .recommendation-table-wrapper {
      overflow-x: auto;
      width: 100%;
      max-width: 1600px;
    }

    .styled-table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    .styled-table th,
    .styled-table td {
      vertical-align: middle;
      word-wrap: break-word;
      padding: 12px;
      text-align: left;
    }

    .styled-table td button,
    .styled-table td a.action-button {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>

<body>
  <div class="header">
    <%= image_tag "logo.png", alt: "CSCE Logo", class: "logo" %>
    <%= link_to "logout", logout_path, method: :delete, class: "logout-button" %>
  </div>
  <div class="main-content">
    <h1>My Recommendations</h1>
    <%= link_to "Submit Another Recommendation", new_recommendation_path, class: "action-button" %>

    <div class="recommendation-table-wrapper">
      <table class="styled-table">
        <thead style="position: sticky; top: 0; background-color: white; z-index: 100;">
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Course</th>
            <th>TA/Grader</th>
            <th>Feedback</th>
            <th>Additional Feedback</th>
            <th style="width: 110px;">Edit</th>
            <th style="width: 130px;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @recommendations.each do |recommendation| %>
            <% if recommendation.admin == false %>
              <tr>
                <td><%= recommendation.email %></td>
                <td><%= recommendation.name %></td>
                <td><%= recommendation.course %></td>
                <td><%= recommendation.selectionsTA %></td>
                <td><%= recommendation.feedback %></td>
                <td><%= recommendation.additionalfeedback %></td>
                <td><%= link_to "Edit", edit_recommendation_path(recommendation),  class: "action-button" %></td>
                <td>
                  <%= button_to 'Delete', recommendation_path(recommendation), method: :delete, onclick: "return confirm('Are you sure?')", class: 'action-button' %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if session[:role].to_s == "admin" %>
      <%= link_to "Back to Home", root_path(anchor: "faculty"), class: "action-button" %>
    <% else %>
      <%= link_to "Back to Home", root_path, class: "action-button" %>
    <% end %>
  </div>
  <div class="footer">
    &copy; 2025 Texas A&M University. All Rights Reserved.
  </div>
</body>
</html>
