<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TA Assignment Home Page</title>
  <%= stylesheet_link_tag 'tamu', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <div class="header">
    <%= image_tag "logo.png", alt: "CSCE Logo", class: "logo" %>
    <%= link_to "logout", logout_path, method: :delete, class: "logout-button" %>
  </div>
  <div class="main-content">
  <h1>All Recommendations </h1>

<div style="max-height: 800px; max-width:1500px;  overflow-y: auto;">
<table class="styled-table1">
  <thead style="position: sticky; top: 0; background-color: white; z-index: 100;">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Course</th>
      <th>TA/Grader</th>
      <th>Feedback</th>
      <th>Additional Feedback</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @recommendations.each do |recommendation| %>
      <% if recommendation.admin == false %>
        <tr class="non-admin">
          <td><%= recommendation.email %></td>
          <td><%= recommendation.name %></td>
          <td><%= recommendation.course %></td>
          <td><%= recommendation.selectionsTA %></td>
          <td><%= recommendation.feedback %></td>
          <td><%= recommendation.additionalfeedback %></td>
          <td>
            <%= form_with url: recommendation_path(recommendation), method: :delete, local: true do %>
              <%= submit_tag "Delete", data: { confirm: "Are you sure?" }, class: "action-button" %>
            <% end %>
          </td>
        </tr>
      <% else %>
        <tr class="admin">
          <td><%= recommendation.email %></td>
          <td><%= recommendation.name %></td>
          <td><%= recommendation.course %></td>
          <td><%= recommendation.selectionsTA %></td>
          <td><%= recommendation.feedback %></td>
          <td><%= recommendation.additionalfeedback %></td>
          <td>
            <%= form_with url: recommendation_path(recommendation), method: :delete, local: true do %>
              <%= submit_tag "Delete", data: { confirm: "Are you sure?" }, class: "action-button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "Back to Home", root_path, class: "action-button" %>
</div>
  <div class="footer">
    &copy; 2025 Texas A&M University. All Rights Reserved.
  </div>
</body>
</html>