<div class="aux-container">/>
<div id="<%= dom_id applicant %>">
  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= applicant.degree %>
  </p>

  <p>
    <strong>Positions:</strong>
    <%= applicant.positions %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= applicant.number %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= applicant.uin %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= applicant.hours %>
  </p>

  <p>
    <strong>Citizenship:</strong>
    <%= applicant.citizenship %>
  </p>

  <p>
    <strong>Cert:</strong>
    <%= applicant.cert %>
  </p>

  <p>
    <strong>Prev course:</strong>
    <%= applicant.prev_course %>
  </p>

  <p>
    <strong>Prev uni:</strong>
    <%= applicant.prev_uni %>
  </p>

  <p>
    <strong>Prev ta:</strong>
    <%= applicant.prev_ta %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= applicant.advisor %>
  </p>

  <p>
    <strong>Choice 1:</strong>
    <%= applicant.choice_1 %>
  </p>

  <p>
    <strong>Choice 2:</strong>
    <%= applicant.choice_2 %>
  </p>

  <p>
    <strong>Choice 3:</strong>
    <%= applicant.choice_3 %>
  </p>

  <p>
    <strong>Choice 4:</strong>
    <%= applicant.choice_4 %>
  </p>

  <p>
    <strong>Choice 5:</strong>
    <%= applicant.choice_5 %>
  </p>

  <p>
    <strong>Choice 6:</strong>
    <%= applicant.choice_6 %>
  </p>

  <p>
    <strong>Choice 7:</strong>
    <%= applicant.choice_7 %>
  </p>

  <p>
    <strong>Choice 8:</strong>
    <%= applicant.choice_8 %>
  </p>

  <p>
    <strong>Choice 8:</strong>
    <%= applicant.choice_8 %>
  </p>

  <p>
    <strong>Choice 9:</strong>
    <%= applicant.choice_9 %>
  </p>

  <p>
    <strong>Choice 10:</strong>
    <%= applicant.choice_10 %>
  </p>

</div>
</div>
