<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>
      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <div>
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :name, "First and Last Name" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :degree, "Degree Type" %>
      <%= form.text_field :degree %>
    </div>

    <div>
      <%= form.label :positions, "Which position are you applying for?" %>
      <%= form.text_field :positions %>
    </div>

    <div>
      <%= form.label :number, "Phone Number" %>
      <%= form.text_field :number %>
    </div>

    <div>
      <%= form.label :uin, "UIN" %>
      <%= form.text_field :uin %>
    </div>
    <div>
      <%= form.label :gpa, "GPA" %>
      <%= form.text_field :gpa %>
    </div>

    <div>
      <%= form.label :hours, "Hours Enrolled" %>
      <%= form.text_field :hours %>
    </div>

    <div>
      <%= form.label :citizenship, "Country of Citizenship" %>
      <%= form.text_field :citizenship %>
    </div>

    <div>
      <%= form.label :cert, "English Language Certification Level" %>
      <%= form.text_field :cert %>
    </div>

    <div class="full-width">
      <%= form.label :prev_course, "Previously Taken Courses" %>
      <%= form.text_field :prev_course %>
    </div>

    <div class="full-width">
      <%= form.label :prev_uni, "Previously Taken Courses at Other Universities" %>
      <%= form.text_field :prev_uni %>
    </div>

    <div class="full-width">
      <%= form.label :prev_ta, "Which Courses Have You TA’d for Previously?" %>
      <%= form.text_field :prev_ta %>
    </div>

    <div class="full-width">
      <%= form.label :advisor, "Who is Your Advisor?" %>
      <%= form.text_field :advisor %>
    </div>

    <% (1..10).each do |i| %>
      <div>
        <%= form.label "choice_#{i}".to_sym, "Course Choice #{i}" %>
        <%= form.text_field "choice_#{i}".to_sym %>
      </div>
    <% end %>

    <div class="full-width">
      <%= form.submit "Submit Application" %>
      <%= link_to "Back to Home", request.referer || root_path, class: "action-button" %>
    </div>
  </div>
<% end %>
