<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>
      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <div>
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, value: session[:email], readonly: true%>
    </div>

    <div>
      <%= form.label :name, "First and Last Name" %>
      <%= form.text_field :name, value: session[:user], readonly: true %>
    </div>

    <div>
      <%= form.label :degree, "Degree Type" %>
      <%= form.select :degree, [['PhD'], ['Masters (Thesis)'], ['Masters (Non-Thesis)']], prompt: "Select your Degree Type" %>
    </div>

    <div>
      <%= form.label :positions, "Which position are you applying for?" %>
      <%= form.select :positions, [['TA'], ['Grader'], ['Senior Grader']], {}, { multiple: true, class: "positions-select" } %>
      <%= form.hidden_field :positions, id: "positions_hidden" %>
    </div>

    <div>
      <%= form.label :number, "Phone Number" %>
      <%= form.text_field :number %>
    </div>

    <div>
      <%= form.label :uin, "UIN" %>
      <%= form.text_field :uin %>
    </div>
    <div>
      <%= form.label :gpa, "GPA" %>
      <%= form.text_field :gpa %>
    </div>

    <div>
      <%= form.label :hours, "Hours Enrolled" %>
      <%= form.text_field :hours %>
    </div>

    <div>
      <%= form.label :citizenship, "Country of Citizenship" %>
      <%= form.text_field :citizenship %>
    </div>

    <div>
      <%= form.label :cert, "English Language Certification Level" %>
      <%= form.select :cert, [['Native Speaker'], ['1'], ['2'], ['3']], prompt: "Select your certification level" %>
    </div>

    <div class="full-width">
      <%= form.label :prev_course, "Previously Taken Courses" %>
      <%= form.text_field :prev_course %>
    </div>

    <div class="full-width">
      <%= form.label :prev_uni, "Previously Taken Courses at Other Universities" %>
      <%= form.text_field :prev_uni %>
    </div>

    <div class="full-width">
      <%= form.label :prev_ta, "Which Courses Have You TA’d for Previously?" %>
      <%= form.text_field :prev_ta %>
    </div>

    <div class="full-width">
      <%= form.label :advisor, "Who is Your Advisor?" %>
      <%= form.text_field :advisor %>
    </div>

    <% (1..10).each do |i| %>
      <div>
        <%= form.label "choice_#{i}".to_sym, "Course Choice #{i}" %>
        <%= form.select "choice_#{i}".to_sym, options_for_select(@courses), { include_blank: true }, { class: "course-select" } %>
      </div>
    <% end %>

    <div class="full-width">
      <%= form.submit "Submit Application" %>
      <%= link_to "Back to Home", request.referer || root_path, class: "action-button" %>
    </div>
  </div>
<% end %>

<!-- Include jQuery and Select2 if not already loaded -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  const positionOrder = ["TA", "Senior Grader", "Grader"]; 
    $(".positions-select").select2({
      placeholder: "Select positions",
      allowClear: true
    }).on("change", function() {
      let selectedValues = $(this).val() || [];
      selectedValues.sort((a, b) => positionOrder.indexOf(a) - positionOrder.indexOf(b));
      $("#positions_hidden").val(selectedValues.join(", "));
    });

  $(document).ready(function() {
    // Initialize Select2 for all course-select dropdowns
    $('.course-select').select2({
      placeholder: "Select a course",
      allowClear: true,
      width: 'resolve'
    });

    function updateCourseOptions() {
      const selectedCourses = new Set();

      $('.course-select').each(function() {
        var val = $(this).val();
        if (val) {
          selectedCourses.add(val);
        }
      });

      $('.course-select').each(function() {
        $(this).find('option').each(function() {
          if (selectedCourses.has($(this).attr('value')) && $(this).attr('value') !== $(this).parent().val()) {
            $(this).prop('disabled', true);
          } else {
            $(this).prop('disabled', false);
          }
        });
        $(this).trigger('change.select2');
      });
    }

    $('.course-select').on('change', function() {
      updateCourseOptions();
    });

    updateCourseOptions();
  });
</script>