<p style="color: green"><%= notice %></p>

<% content_for :title, "Applicants" %>

<h1>Applicants</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Degree</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @applicants.each do |applicant| %>
      <tr id="<%= dom_id applicant %>">
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.degree %></td>
        <td><%= link_to "Show this applicant",applicant_path(applicant)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Main Page", root_path, class: "action-button" %>

