<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Applicant Details</title>
  <%= stylesheet_link_tag 'tamu', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <div class="header">
    <%= image_tag "logo.png", alt: "CSCE Logo", class: "logo" %>
    <%= link_to "logout", logout_path, method: :delete, class: "logout-button" %>
  </div>

  <div class="main-content">
    <% if notice %>
      <p class="notice-text"><%= notice %></p>
    <% end %>

    <div class="applicant-details">
      <%= render @applicant %>
    </div>

    <div class="button-container">
      <% if session[:role].to_s == "admin" %>
        <%= link_to "Edit this applicant", edit_applicant_path(@applicant), class: "action-button" %>
        <%= button_to "Destroy this applicant", @applicant, method: :delete, data: { confirm: "Are you sure?" }, class: "action-button" %>
        <%= link_to "Back to Home",root_path(anchor: "student"), class: "action-button" %>

      <% elsif session[:role].to_s == "student" %>
        <%= link_to "Back", root_path, class: "action-button" %>
      <% else %>
        <%= link_to "Back", request.referer || root_path, class: "action-button" %>
      <% end %>
    </div>
  </div>

  <div class="footer">
    &copy; 2025 Texas A&M University. All Rights Reserved.
  </div>
</body>
</html>
