
<!-- Display selected table data -->
<% if @table_name.present? %>
  <h1><%= @table_name.titleize %> Assignments</h1>
  <%= link_to "Back", view_csv_path, class: "aux-link aux-text-primary", style: "text-decoration: none;",class: 'btn btn--primary'%>
  
  <div class="button-group button-group--cta">
    <% any_assigned = @records.any?(&:assigned) %>
    <%= button_to(
                  any_assigned ? "Unsend All Offers" : "Send All Offers",
                  mass_toggle_assignment_path(table: @table_name),
                  method: :post,
                  class: "btn #{any_assigned ? 'btn-warning' : 'btn-success'}") %>
     <%= button_to "Revoke Confirmation For All Applicants", 
                  mass_confirm_path(table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning",
                  onclick: "return confirm('Warning!! This will reset the confirmation of all assignments');"  %>
    <%= button_to "Delete All Unconfirmed Assignments",
                  destroy_unconfirmed_assignments_path(type: @table_name),
                  method: :post,
                  data: { confirm: "Are you sure? This will remove all assignments marked as not confirmed." },
                  class: "btn btn-danger" %>

    </div>
  
  <table border:"1">
    <thead>
      <tr>
        <% if @records.any? %>
          <th>Course Number</th>
          <th>Section</th>
          <th>Instructor</th>
          <th>Instructor Email</th>
          <th>Student</th>
          <th>Student Email</th>
          <th>UIN</th>
          <th>Send Offer</th>
          <th>Confirmation</th>
          <th>Actions</th>
        <% else %>
          <th>No records found</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr> 
          <td><%= record.course_number %></td>
          <td><%= record.section %></td>
          <td><%= record.ins_name %></td>
          <td><%= record.ins_email %></td>
          <td><%= record.stu_name %></td>
          <td><%= record.stu_email %></td>
          <td><%= record.uin %></td>
          <td>
           <% if record.assigned %>
              <%= button_to "Unsend", 
                  toggle_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning" %>
            <% else %>
              <%= button_to "Send", 
                  toggle_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-success" %>
            <% end %>
          </td>
          <td>
            <% if record.confirm %>
              <span class="status-confirmed">✅ Confirmed</span>
              <%= button_to "Revoke confirmation", 
                  revoke_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning" %>
            <% else %>
              <span class="status-pending">🔄 Pending</span>
            <% end %>
          </td>
          <td>
          <div class="button-group button-group--cta">
            <%= link_to "Edit", edit_ta_assignment_path(record, file: @table_name, uin: record.uin), method: :get, class: 'btn btn-danger' %>
            <%= button_to "Delete", ta_assignment_path(record, file: @table_name, uin: record.uin, section: record.section,
                 course_number: record.course_number, stu_email: record.stu_email, stu_name: record.stu_name,
                 ins_name: record.ins_name, ins_email: record.ins_email), method: :delete, class: 'btn btn--cta-secondary' %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

