<!-- Display selected table data -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Applicants</title>
  <%= stylesheet_link_tag 'tamu', media: 'all', 'data-turbo-track': 'reload' %>
  <style>
    .styled-table th a {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
      align-items: center; /* Align text and arrow vertically */
      gap: 4px; /* Space between text and arrow */
    }
  </style>
</head>
<body style="min-width: 1000px;">
  <div class="header">
    <%= image_tag "logo.png", alt: "CSCE Logo", class: "logo" %>
    <%= link_to "logout", logout_path, method: :delete, class: "logout-button" %>
  </div>

  <div class="main-content-records">
    <p class="notice-text"><%= notice %></p>

<% if @table_name.present? %>
    <h1><%= @table_name.titleize %> Assignments</h1>
    
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <%= link_to "Back", view_csv_path, class: "aux-link aux-text-primary", style: "text-decoration: none;",class: 'btn btn--primary'%>
    <%if @table_name == "ta_matches" %>
      <h2>Assignments: <%= @table_name.classify.constantize.count%> / <%=@ta%></h2>
    <%elsif @table_name == "senior_grader_matches" %>
       <h2>Assignments: <%= @table_name.classify.constantize.count%> / <%=@senior_grader%></h2>
    <%elsif @table_name == "grader_matches" %>
       <h2>Assignments: <%= @table_name.classify.constantize.count%> / <%=@grader%></h2>
    <%end%>
   </div>
  <div class="button-group button-group--cta">
    <% any_assigned = @records.any?(&:assigned) %>
    <%= button_to(
                  any_assigned ? "Unsend All Offers" : "Send All Offers",
                  mass_toggle_assignment_path(table: @table_name),
                  method: :post,
                  class: "btn #{any_assigned ? 'btn-warning' : 'btn-success'}") %>
     <%= button_to "Revoke Confirmation For All Applicants", 
                  mass_confirm_path(table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning",
                  onclick: "return confirm('Warning!! This will reset the confirmation of all assignments');"  %>
    <%= button_to "Delete All Unconfirmed Assignments", 
                  destroy_unconfirmed_assignments_path(type: @table_name), 
                  method: :post, 
                  onclick: "return confirm('Warning!! This action will remove any unconfirmed assignments.');", 
                  class: "btn btn-danger" %>
    </div>
    <div style="max-height: 800px; overflow-y: auto;">
      <table class="styled-table" style="min-width: 800px;" >

     <thead style="position: sticky; top: 0; background-color: white; z-index: 100;">
      <tr>
        <% if @records.any? %>
          <th>Course Number</th>
          <th>Section</th>
          <th>Instructor</th>
          <th>Instructor Email</th>
          <th>Student</th>
          <th>Student Email</th>
          <th>UIN</th>
          <th>Send Offer</th>
          <th>Confirmation</th>
          <th>Actions</th>
        <% else %>
          <th>No records found</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr id="row_<%= record.uin %>">
          <td><%= record.course_number %></td>
          <td><%= record.section %></td>
          <td><%= record.ins_name %></td>
          <td><%= record.ins_email %></td>
          <td><%= record.stu_name %></td>
          <td><%= record.stu_email %></td>
          <td><%= record.uin %></td>
          <td style="background-color: <%= record.assigned ?  'rgb(162, 246, 156)' : 'rgb(243, 169, 162)'  %>;">
           <% if record.assigned %>
              <%= button_to "Unsend", 
                  toggle_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning" %>
            <% else %>
              <%= button_to "Send", 
                  toggle_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-success" %>
            <% end %>
          </td>   
          <td>
            <% if record.confirm %>
              <span class="status-confirmed">✅ Confirmed</span>
              <%= button_to "Revoke confirmation", 
                  revoke_assignment_path(id: record.id, table: @table_name), 
                  method: :post, 
                  class: "btn btn-warning" %>
            <% else %>
              <span class="status-pending">🔄 Pending</span>
            <% end %>
          </td>
          <td>
          <div class="button-group button-group--cta">
            <%= link_to "Edit", edit_ta_assignment_path(record, file: @table_name, uin: record.uin), method: :get, class: 'btn btn-danger' %>
            <%= button_to "Delete", record_path(record, file: @table_name, uin: record.uin,), method: :delete, remote: true, class: 'btn btn--cta-secondary' %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>


 <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
  <%= link_to "Back", view_csv_path, class: "aux-link aux-text-primary", style: "text-decoration: none;",class: 'btn btn--primary'%>
  </div>

  <div class="footer">
    &copy; 2025 Texas A&M University. All Rights Reserved.
  </div>
</body>
</html>


