<h2>Request a Withdrawal</h2>

<%= form_with model: @withdrawal_request, url: withdrawal_requests_path, local: true do |f| %>
  <div>
    <%= f.label :course_number, "Course Number" %>
    <%= f.text_field :course_number, required: true %>
  </div>

  <div>
    <%= f.label :section_id, "Section ID" %>
    <%= f.text_field :section_id, required: true %>
  </div>

  <div>
    <%= f.label :instructor_name, "Instructor Name" %>
    <%= f.text_field :instructor_name, required: true %>
  </div>

  <div>
    <%= f.label :instructor_email, "Instructor Email" %>
    <%= f.email_field :instructor_email, required: true %>
  </div>

  <div>
    <%= f.label :student_name, "Student Name" %>
    <%= f.text_field :student_name, required: true %>
  </div>

  <div>
    <%= f.label :student_email, "Student Email" %>
    <%= f.email_field :student_email, required: true %>
  </div>

  <div>
    <%= f.submit "Submit Withdrawal Request", class: "action-button" %>
  </div>
<% end %>
