<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ta Assignment App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= yield :head %>

    <!-- Add Aggie UX Styles -->
    <link rel="stylesheet" href="https://aux.tamu.edu/@major/v1.x/styles/aux-styles.min.css">

    <%= stylesheet_link_tag :app %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
